![pic]($pic)

#### Demon Slayer - Infinity Train

Video
- Rescale, fine dehalo, insaneAA, adaptive denoise, masked deband and adaptive grain.
Additionally, dynamic grain scenes were excluded from any destructive filtering.

Audio
- 5.1ch Japanese qAAC

Subtitles
- Everything you would expect from a fansubbed release. 
Though the expectations might be quite high this time around. 
I won't say much here. Watch and judge it for yourself, and let us know how you liked it!

Staff Credits
- Encode: dedsec, KIRA (mini)
- Translation: Official sources
- Timing, Editing: dedsec
- Typesetting: LoliKiller, dedsec
- Quality Check: KIRA

Special thanks to LupinTheNerd for sharing the JPBD, and also to Kaleido-Flax for making their release files public. 
In a similar fashion, everything used in the making of this release is available on the project's GitHub repository as well.
This project was fun and at times [painful](https://twitter.com/not_dedsec/status/1406369387171418112?s=20) to work on, but the arc is lit and the ED hits hard. Glad we got the chance to do this.

Thank you for sailing the high seas with us!

[Encode Comparison](https://slow.pics/c/bB6uxggs) | [Subtitle Comparison](https://www.diffchecker.com/EGvAZmm6) | [Mediainfo](https://pastebin.com/syWkWfpq) | [Screenshots](https://imgur.com/a/oQDRP18)
[GitHub](https://github.com/notdedsec/Demon-Slayer-Infinity-Train) | [Discord](http://discord.animekaizoku.com/) | [Telegram](http://telegram.animekaizoku.com/) | [Twitter](https://twitter.com/KaizokuEncodes/)
